.account-form {
  margin: 0 auto;
  padding: 2em;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;

  input {
    background-color: #F6F7F9;
    border: none;
    margin-bottom: 24px;
    padding: 1em 2em;
    border-radius: 10px;
    transition: transform 0.2s ease;
  }

  label {
    margin-bottom: 1em;
  }
}
